@keyframes fade1 {

	0% {
		opacity:1;
	}

	25% {
		opacity:0;
	}

	50% {
		opacity:0;
	}

	75% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

@keyframes fade2 {

	0% {
		opacity:0;
	}

	25% {
		opacity:1;
	}

	50% {
		opacity:0;
	}

	75% {
		opacity:0;
	}

	100% {
		opacity:0;
	}
}

@keyframes fade3 {

	0% {
		opacity:0;
	}

	25% {
		opacity:0;
	}

	50% {
		opacity:1;
	}

	75% {
		opacity:0;
	}

	100% {
		opacity:0;
	}
}

@keyframes fade4 {

	0% {
		opacity:0;
	}

	25% {
		opacity:0;
	}

	50% {
		opacity:0;
	}

	75% {
		opacity:1;
	}

	100% {
		opacity:0;
	}
}

